img.thumbnail-img
{
    width: 100%;
    height: 150px;
}

a.thumbnail
{
    border: 0px;
    padding: 0px;
}

img.thumbnail-img:hover
{
    opacity: 0.9;
}

p {
    padding: 0.3em 0em;
}

img.thumbnail-img
{
    outline:2px solid #EEE;
    border: 3px solid #FFF;
}

nav.navbar
{
    
}